NEXT_PUBLIC_REALTIME_TRANSPORT=socketio
NEXT_PUBLIC_REALTIME_URL=http://127.0.0.1:3001
NEXT_PUBLIC_CLOUDFLARE_REALTIME_URL=ws://127.0.0.1:8787
NEXT_PUBLIC_FEEDBACK_ISSUE_URL=https://github.com/mui-1729/type-battle/issues/new?template=private-beta-feedback.yml
REALTIME_URL=http://127.0.0.1:3001
